<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Maestranza Servaires</h1>
            <h3>(trabajo actual)</h3></li>
            <p>
                 Supervisor de limpieza
                 - Logros: Me desempeñe con exito en el area gracias a mis habilidades de organización
                 - Conocimentos de trabajo en planta 
                 - Area: Chacinados Argentina.
            </p>
        </ul>
        <ul>
            <li><h1>Auxiliar Electricista ROTOFARIA Service</h1>
            <h3>(1 año)</h3></li>
            <p>
                Tareas de electricidad domiciliaria, iluminación exterior.
                Mantenimiento de porteros eléctricos  
                Area mantenimiento Argentina.
            </p>
        </ul>
        <ul>
            <li><h1>Mantenimiento/maestranza GROW Mobility</h1>
            <h3>(1 año)</h3></li>
            <p>
                Personal de mantenimiento, limpieza, control de stock, trabajos en linea de producción.
                - Logros: Me desempeñe con exito en el area de mantenimiento, gracias a mis habilidades de soldadura 
                - Manejo de herramientas: conocimento sobre electronica/mecanica
                - Area: Transporte, comercio Argentina.
            </p>
        </ul>
    </div>
</div>
