
<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Ingenieria Informatica Universidad Nacional Arturo Jauretche(UNAJ)</h1>
            <h3>(primer año)</h3></li>
            <p>
                 Universitario en curso
            </p>
        </ul>
        <ul>
            <li><h1>Ingenieria Mecánica-Universidad Tecnica Nacional (UTN-FRLP)</h1>
            <h3>(6 Meses)</h3></li>
            <p>
                 Universitario Incompleto
            </p>
        </ul>
        <ul>
            <li><h1>Bachiller en Ciencias Naturales (Biología) E.E.M N°12</h1>
            <h3>(6 Años)</h3></li>
            <p>
                 Secundario completo
                 Promedio 7.5 (desde 1 hasta 10)
            </p>
        </ul>
    </div>
</div>
